.adornment {
    width: 25em;
    vertical-align: bottom;
}

.mainContainer {
    position: absolute;
}

.link {
    color: white;
    font-family: Arial, serif;
    font-size: 0.75rem;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    height: 4rem;
    width: 4rem;
}